*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  width: 80%;
  margin: auto;
}
.section{
  margin-top: 50px;
}
.main__menu{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
.main__menu .menu__child{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.main__menu .menu__child.actived{
  background-color: rgb(255, 138, 4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.388);
}


.list__item{
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 100px;
}
.list__item .item{
  cursor: pointer;
  position: relative;
  width: 406px;
  height: 406px;
  overflow: hidden;
  box-shadow: 0px 12px 28px rgb(0 0 0 / 14%);
  background-position: center;
  background-size: cover;
}

.list__item .item .item__title{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  bottom: 5%;
  right: 5%;
  border-radius: 5px;
  box-shadow: 0px 12px 28px rgb(0 0 0 / 14%);
  font-weight: bolder;
  padding: 20px;
}

.list__item .item .item__title p{
  font-size: 17px;
}
.list__item .item .item__title svg{
  transform: scale(0.5);
}